	
	<!-- Header section -->

	<header class="header-section">
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 header-top-left">
						<div class="top-info">
							<i class="fa fa-phone"></i>
							+234-01- 873-0204
						</div>
						<div class="top-info">
							<i class="fa fa-envelope"></i>
							kunledavids@yahoo.com
						</div>
					</div>
					<div class="col-lg-6 text-lg-right header-top-right">
						<div class="top-social">
							<a href="https://www.facebook.com/pages/category/Local-Business/Resourceful-Properties-296818430474894/"><i class="fab fa-facebook-f"></i></a>
							<!-- <a href=""><i class="fab fa-twitter"></i></a> -->
							<a href="https://www.instagram.com/resourceful_properties/"><i class="fab fa-instagram"></i></a>
							<a href="https://www.linkedin.com/company/resourceful-properties/about/"><i class="fab fa-linkedin"></i></a>
						</div>
						<!-- <div class="user-panel">
							<a href=""><i class="fas fa-user-circle"></i> Register</a>
							<a href=""><i class="fas fa-sign-in-alt"></i> Login</a>
						</div> -->
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-4">
					<div style="margin-top: -55px;">
						<a href="#" class="site-logo"><img src="../../../assets/logop.png" alt=""></a>
					</div>
				</div>
				<div class="col-8">
					<div class="site-navbar">
						<div class="nav-switch">
							<i class="fa fa-bars"></i>
						</div>
						<ul class="main-menu">
							<li><a [routerLink]="['../dashboard']">HOME</a></li>
							<li><a [routerLink]="['../employee']">FEATURED LISTING</a></li>
							<li><a [routerLink]="['../about']">ABOUT US</a></li>
							<li><a [routerLink]="['../pages']">PAGES</a></li>
							<li><a [routerLink]="['../blog']">BLOG</a></li>
							<li><a [routerLink]="['../contact']">CONTACT</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Header section end -->


	<!-- Page top section -->
	<section class="page-top-section set-bg" data-setbg="../../../assets/img/page-top-bg.jpg">
		<div class="container text-white">
			<h2>Blog grid</h2>
		</div>
	</section>
	<!--  Page top end -->

	<!-- Breadcrumb -->
	<div class="site-breadcrumb">
		<div class="container">
			<a href=""><i class="fa fa-home"></i>Home</a>
			<span><i class="fa fa-angle-right"></i>Blog Grid</span>
		</div>
	</div>

	<!-- page -->
	<section class="page-section blog-page">
		<div class="container">
			<div class="row">
				<!-- blog post -->
				<div class="col-lg-4 col-md-6 blog-item" *ngFor="let item of blog; let index =i;">
					<img src="{{item.image}}" alt="">
					<h5><a (click)="blogy(item)">{{item.title}}</a></h5>
					<div class="blog-meta">
						<span><i class="fa fa-user"></i>{{item.posteduser}}</span>
						<span><i class="fa fa-clock-o"></i>{{item.registered | date}}</span>
					</div>
				</div>
			</div>
			<div class="site-pagination">
				<span>1</span>
				<a href="#">2</a>
				<a href="#">3</a>
				<a href="#"><i class="fa fa-angle-right"></i></a>
			</div>
		</div>
	</section>
	<!-- page end -->


	<!-- Clients section -->
	<div class="clients-section">
		<div class="container">
			<div class="clients-slider owl-carousel">
				<a href="#">
					<img src="https://images.africanfinancials.com/ng-wemaba-logo.png" height='60px' alt="">
				</a>
				<a href="#">
					<img src="https://www.ibm.com/innovate/branding/logoartwork/logoartwork.nsf/IBM_logoRR_pos_RGB.gif" height='60px' alt="">
				</a>
				<a href="#">
					<img src="../../../assets/img/partner/3.png"  height='60px' alt="">
				</a>
				<a href="#">
					<img src="../../../assets/img/partner/4.png"  height='60px' alt="">
				</a>
				<a href="#">
					<img src="../../../assets/img/partner/5.png"  height='60px' alt="">
				</a>
			</div>
		</div>
	</div>
	<!-- Clients section end -->


	<footer class="footer-section set-bg" data-setbg="../../../assets/img/footer-bg.jpg">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 footer-widget">
					<img src="../../../assets/logop.png" alt="">
					<p>Resourceful Properties is the Real Estate Consultants firm and resulted from the need to adequately service our client’s interests in property related matters which have arisen</p>
					<div class="social">
            <a href="https://www.facebook.com/pages/category/Local-Business/Resourceful-Properties-296818430474894/"><i class="fab fa-facebook-f"></i></a>
            <!-- <a href=""><i class="fab fa-twitter"></i></a> -->
            <a href="https://www.instagram.com/resourceful_properties/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/company/resourceful-properties/about/"><i class="fab fa-linkedin"></i></a>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 footer-widget">
					<div class="contact-widget">
						<h5 class="fw-title">CONTACT US</h5>
						<p><i class="fa fa-map-marker"></i>64, AWOLOWO ROAD	SOUTH WEST IKOYI LAGOS
							 </p>
						<p><i class="fa fa-phone"></i>+234-(0)803-473- 8744</p>
						<p><i class="fa fa-envelope"></i>kunledavids@yahoo.com</p>
						<p><i class="fa fa-clock-o"></i>Mon - Sat, 08 AM - 06 PM</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 footer-widget">
					<div class="double-menu-widget">
						<h5 class="fw-title">POPULAR PLACES</h5>
						<ul>
							<li><a href="">Lagos</a></li>
							<li><a href="">Ibadan</a></li>
							<li><a href="">Abuja</a></li>
							<li><a href="">Calabar</a></li>
							<li><a href="">Kano</a></li>
						</ul>
						<ul>
							<li><a href="">Lekki</a></li>
							<li><a href="">Victoria Island</a></li>
							<li><a href="">Yaba</a></li>
							<li><a href="">SUrulere</a></li>
							<li><a href="">Lagos Island</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6  footer-widget">
					<div class="newslatter-widget">
						<h5 class="fw-title">NEWSLETTER</h5>
						<p>Subscribe your email to get the latest news and new offer also discount</p>
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="footer-nav">
					<ul>
            <li><a [routerLink]="['../dashboard']">HOME</a></li>
            <li><a [routerLink]="['../employee']">FEATURED LISTING</a></li>
            <li><a [routerLink]="['../about']">ABOUT US</a></li>
            <li><a [routerLink]="['../pages']">PAGES</a></li>
            <li><a [routerLink]="['../blog']">BLOG</a></li>
            <li><a [routerLink]="['../contact']">CONTACT</a></li>
					</ul>
				</div>
				<div class="copyright">
					<p>
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
</p>
				</div>
			</div>
		</div>
	</footer>