	<!-- Page Preloder -->

	<!-- Header section -->

	<header class="header-section">
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 header-top-left">
						<div class="top-info">
							<i class="fa fa-phone"></i>
							+234-01- 873-0204
						</div>
						<div class="top-info">
							<i class="fa fa-envelope"></i>
							kunledavids@yahoo.com
						</div>
					</div>
					<div class="col-lg-6 text-lg-right header-top-right">
						<div class="top-social">
							<a href="https://www.facebook.com/pages/category/Local-Business/Resourceful-Properties-296818430474894/"><i class="fab fa-facebook-f"></i></a>
							<!-- <a href=""><i class="fab fa-twitter"></i></a> -->
							<a href="https://www.instagram.com/resourceful_properties/"><i class="fab fa-instagram"></i></a>
							<a href="https://www.linkedin.com/company/resourceful-properties/about/"><i class="fab fa-linkedin"></i></a>
						</div>
						<!-- <div class="user-panel">
							<a href=""><i class="fas fa-user-circle"></i> Register</a>
							<a href=""><i class="fas fa-sign-in-alt"></i> Login</a>
						</div> -->
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-4">
					<div class="rowers">
						<a href="#" class="site-logo"><img src="assets/logop.png" alt=""></a>
					</div>
				</div>
				<div class="col-8">
					<div class="site-navbar">
						<div class="nav-switch">
							<i class="fa fa-bars"></i>
						</div>
						<ul class="main-menu">
							<li><a [routerLink]="['../dashboard']">HOME</a></li>
							<li><a [routerLink]="['../employee']">FEATURED LISTING</a></li>
							<li><a [routerLink]="['../about']">ABOUT US</a></li>
							<li><a [routerLink]="['../pages']">PAGES</a></li>
							<li><a [routerLink]="['../blog']">BLOG</a></li>
							<li><a [routerLink]="['../contact']">CONTACT</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Header section end -->


	<!-- Page top section -->
	<section class="page-top-section set-bg" data-setbg="assets/img/page-top-bg.jpg">
		<div class="container text-white">
			<h2>About us</h2>
		</div>
	</section>
	<!--  Page top end -->

	<!-- Breadcrumb -->
	<div class="site-breadcrumb">
		<div class="container">
			<a href=""><i class="fa fa-home"></i>Home</a>
			<span><i class="fa fa-angle-right"></i>About us</span>
		</div>
	</div>

	<!-- page -->
	<section class="page-section">
		<div class="container">
			<img class="mb-5" src="assets/img/about.jpg" alt="">
			<div class="row about-text">
				<div class="col-xl-6 about-text-left">
					<h5>ABOUT US</h5>
					<p>Resourceful Properties is the Real Estate Consultants firm and resulted from the need to adequately service our client’s interests in property related matters which have arisen. The firm is founded in 2001 and is managed by a team of highly motivated and qualified Estate Surveyors, Legal Practitioners and support personnel with experience from different background and areas of specialization backed with modern telecommunications facilities and resources.</p>
					<p>The firm keeps abreast of changing trends in the real estate sector both locally and internationally and ensures that the expansion of our client base and size of our professional staff is balanced with the maintenance of a high standard of service for a clientele that expects nothing less than the highest level of integrity and professional competence.</p>
				</div>
				<div class="col-xl-6 about-text-right">
					<h5>MISSION</h5>
          <p>Our mission is: “To provide prompt and efficient services to our clients using a well motivated and professional work force, ensuring in the process that client receive optimal value always. The client remains our focus, hence our services arm tailored to meet their peculiar needs in a professional manner”</p>
          <h5>CORE VALUES</h5>
					<ul class="about-list">
						<li><i class="fas fa-check-circle"></i>Professionalism</li>
						<li><i class="fas fa-check-circle"></i>Innovation </li>
						<li><i class="fas fa-check-circle"></i>Integrity</li>
            <li><i class="fas fa-check-circle"></i>Passion</li>
            <li><i class="fas fa-check-circle"></i>Leadership</li>
					</ul>
				</div>
			</div>
		</div>
		
		<!-- Review section -->
		<section class="review-section set-bg" data-setbg="assets/img/review-bg.jpg">
			<div class="container">
				<div class="review-slider owl-carousel">
					<div class="review-item text-white">
						<div class="rating">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>
						<p>“Resourceful Properties was quick to understand my needs and steer me in the right direction. Their professionalism and warmth made the process of finding a suitable home a lot less stressful than it could have been. Thanks, agent Tony Holland.”</p>
						<h5>Adeogo Adejana</h5>
						<span>CEP’s Director</span>
						<div class="clint-pic set-bg" data-setbg="assets/img/review/1.jpg"></div>
					</div>
					<div class="review-item text-white">
						<div class="rating">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>
						<p>“Resourceful Properties was quick to understand my needs and steer me in the right direction. Their professionalism and warmth made the process of finding a suitable home a lot less stressful than it could have been. Thanks, agent Tony Holland.”</p>
						<h5>Kayode Mustapha</h5>
						<span>CEP’s Director</span>
						<div class="clint-pic set-bg" data-setbg="assets/img/review/1.jpg"></div>
					</div>
					<div class="review-item text-white">
						<div class="rating">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>
						<p>“Resourceful Properties was quick to understand my needs and steer me in the right direction. Their professionalism and warmth made the process of finding a suitable home a lot less stressful than it could have been. Thanks, agent Tony Holland.”</p>
						<h5>Akeem Yusuf</h5>
						<span>CEP’s Director</span>
						<div class="clint-pic set-bg" data-setbg="assets/img/review/1.jpg"></div>
					</div>
				</div>
			</div>
		</section>
		<!-- Review section end-->


		<!-- Team section -->
		<!-- <section class="team-section spad pb-0">
			<div class="container">
				<div class="section-title text-center">
					<h3>OUR AGENTS</h3>
					<p>Our directory of real estate agents who can help you</p>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="team-member">
							<div class="member-pic">
								<img src="assets/img/team/1.jpg" alt="#">
								<div class="member-social">
									<a href=""><i class="fa fa-facebook"></i></a>
									<a href=""><i class="fa fa-instagram"></i></a>
									<a href=""><i class="fa fa-twitter"></i></a>
								</div>
							</div>
							<div class="member-info">
								<h5>Tony Holland</h5>
								<span>Real Estate  Agent</span>
								<div class="member-contact">
									<p><i class="fa fa-phone"></i>(567) 666 121 2288</p>
									<p><i class="fa fa-envelope"></i>tonyholland@gmail.com</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="team-member">
							<div class="member-pic">
								<img src="assets/img/team/2.jpg" alt="#">
								<div class="member-social">
									<a href=""><i class="fa fa-facebook"></i></a>
									<a href=""><i class="fa fa-instagram"></i></a>
									<a href=""><i class="fa fa-twitter"></i></a>
								</div>
							</div>
							<div class="member-info">
								<h5>Sasha Gordon</h5>
								<span>Researcher</span>
								<div class="member-contact">
									<p><i class="fa fa-phone"></i>(567) 666 121 2243</p>
									<p><i class="fa fa-envelope"></i>sashagordon@gmail.com</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="team-member">
							<div class="member-pic">
								<img src="assets/img/team/3.jpg" alt="#">
								<div class="member-social">
									<a href=""><i class="fa fa-facebook"></i></a>
									<a href=""><i class="fa fa-instagram"></i></a>
									<a href=""><i class="fa fa-twitter"></i></a>
								</div>
							</div>
							<div class="member-info">
								<h5>Nicky Butt</h5>
								<span>Nicky Butt</span>
								<div class="member-contact">
									<p><i class="fa fa-phone"></i>(567) 666 121 2255</p>
									<p><i class="fa fa-envelope"></i>nickybutt79@gmail.com</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="team-member">
							<div class="member-pic">
								<img src="assets/img/team/4.jpg" alt="#">
								<div class="member-social">
									<a href=""><i class="fa fa-facebook"></i></a>
									<a href=""><i class="fa fa-instagram"></i></a>
									<a href=""><i class="fa fa-twitter"></i></a>
								</div>
							</div>
							<div class="member-info">
								<h5>Gina Wesley</h5>
								<span>Real Estate Agent</span>
								<div class="member-contact">
									<p><i class="fa fa-phone"></i>(567) 666 121 2288</p>
									<p><i class="fa fa-envelope"></i>ginawesley@gmail.com</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section> -->
		<!-- Team section end-->
	</section>
	<!-- page end -->


	<!-- Clients section -->
	<div class="clients-section">
		<div class="container">
			<div class="clients-slider owl-carousel">
				<a href="#">
					<img src="https://images.africanfinancials.com/ng-wemaba-logo.png" height='60px' alt="">
				</a>
				<a href="#">
					<img src="https://www.ibm.com/innovate/branding/logoartwork/logoartwork.nsf/IBM_logoRR_pos_RGB.gif" height='60px' alt="">
				</a>
				<a href="#">
					<img src="assets/img/partner/3.png"  height='60px' alt="">
				</a>
				<a href="#">
					<img src="assets/img/partner/4.png"  height='60px' alt="">
				</a>
				<a href="#">
					<img src="assets/img/partner/5.png"  height='60px' alt="">
				</a>
			</div>
		</div>
	</div>
	<!-- Clients section end -->


	<!-- Footer section -->
	<footer class="footer-section set-bg" data-setbg="assets/img/footer-bg.jpg">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 footer-widget">
					<img src="assets/logop.png" alt="">
					<p>Resourceful Properties is the Real Estate Consultants firm and resulted from the need to adequately service our client’s interests in property related matters which have arisen</p>
					<div class="social">
            <a href="https://www.facebook.com/pages/category/Local-Business/Resourceful-Properties-296818430474894/"><i class="fab fa-facebook-f"></i></a>
            <!-- <a href=""><i class="fab fa-twitter"></i></a> -->
            <a href="https://www.instagram.com/resourceful_properties/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/company/resourceful-properties/about/"><i class="fab fa-linkedin"></i></a>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 footer-widget">
					<div class="contact-widget">
						<h5 class="fw-title">CONTACT US</h5>
						<p><i class="fa fa-map-marker"></i>64, AWOLOWO ROAD	SOUTH WEST IKOYI LAGOS
							 </p>
						<p><i class="fa fa-phone"></i>+234-(0)803-473- 8744</p>
						<p><i class="fa fa-envelope"></i>kunledavids@yahoo.com</p>
						<p><i class="fa fa-clock-o"></i>Mon - Sat, 08 AM - 06 PM</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 footer-widget">
					<div class="double-menu-widget">
						<h5 class="fw-title">POPULAR PLACES</h5>
						<ul>
							<li><a href="">Lagos</a></li>
							<li><a href="">Ibadan</a></li>
							<li><a href="">Abuja</a></li>
							<li><a href="">Calabar</a></li>
							<li><a href="">Kano</a></li>
						</ul>
						<ul>
							<li><a href="">Lekki</a></li>
							<li><a href="">Victoria Island</a></li>
							<li><a href="">Yaba</a></li>
							<li><a href="">SUrulere</a></li>
							<li><a href="">Lagos Island</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6  footer-widget">
					<div class="newslatter-widget">
						<h5 class="fw-title">NEWSLETTER</h5>
						<p>Subscribe your email to get the latest news and new offer also discount</p>
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="footer-nav">
					<ul>
            <li><a [routerLink]="['../dashboard']">HOME</a></li>
            <li><a [routerLink]="['../employee']">FEATURED LISTING</a></li>
            <li><a [routerLink]="['../about']">ABOUT US</a></li>
            <li><a [routerLink]="['../pages']">PAGES</a></li>
            <li><a [routerLink]="['../blog']">BLOG</a></li>
            <li><a [routerLink]="['../contact']">CONTACT</a></li>
					</ul>
				</div>
				<div class="copyright">
					<p>
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
</p>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer section end -->
